

.hometext {
    color: lightsteelblue;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hometext2 {
    color: lightsteelblue;
    font-size: small;
    text-align:center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

.navbar {
    display:block;
    width:fit-content;
    height:fit-content;
    padding: 20px;
    margin:auto;
    justify-content: center;
    align-items: center;
    border: 3px lightsteelblue solid;
    text-align:center;

}

.hometext3 {
    color: lightsteelblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

[class*="navpage"] {
    padding: 7px;
}

.navbar>div>a {
    text-decoration: none;
    color: whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow:inset;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out;
    box-shadow: .3s ease-in-out;
}

.ocean_header {
    background-image:url("./TPImages/tropical.png")
}

.rollover_content {
    box-shadow:inset;
    color: blue;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out;
}

